figure.right-aligned > img {
  float: right;
  width: 50%;
  height: 50%;
  margin: 0 0 2rem 2rem;
}

.content article p {
    text-align: left;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

figure.portfolio-image {
  align-items: stretch
  display: flex;
  float: left;
  margin-right: 5%;
  width: 45%;
}

h2 {
    text-transform: uppercase;
    font-family: 'Fira Mono',monospace;
    letter-spacing: .0625em;
    margin: 3.2rem 0 1.6rem 0;
}
    
h1.title {
    text-transform: uppercase;
    font-family: 'Fira Mono',monospace;
    letter-spacing: .0625em;
}
 
.about h2{
  letter-spacing: normal;
  text-transform: capitalize;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,Helvetica,pingfang sc,STXihei,华文细黑,microsoft yahei,微软雅黑,SimSun,宋体,Heiti,黑体,sans-serif;
  font-weight: 600;
  color: #000;
  margin: 4rem 0 2.5re;
} 
   
body {
    color: #212121;
    background-color: #f8f5f0;
}

figure.left-aligned > img {
  float: left;
  width: 25%;
  height: 25%;
  margin: 2rem 2rem 0 0;
}

.footer {
  font-size: 13px;
  width: 100%;
  text-align: center;
  line-height: 1.0rem;
  margin-bottom:1.0rem;
  a {
    color: $link-color;
  }
}



figure.centered {
    text-align: center;
}

@media only screen and (max-width: 768px) {
  figure.right-aligned > img {
    float: none;
    width: 50%;
    height: 50%;
    margin: 0;
  }
}
